<div id="container">

    <!-- WEBSITE SEARCH STARTS HERE -->

    <div class="top-search  clearfix">
        <h3 class="head-pet"><span>Recipe Search</span></h3>

        <form action="#" id="searchform">
            <p>
                <input type="text" name="s" id="s" class="field" value="" placeholder="Search for"/>
                <input type="submit" name="s_submit" id="s-submit" value=""/>
            </p>
        </form>

        <p class="statement"><span class="fireRed">Recipe Types:</span>
            <a href="#">Beef</a> , <a href="#">Cheese</a> , <a href="#">Chicken</a> , <a href="#">Chocolate</a> , <a href="#">Fish</a> , <a href="#">Pizzas</a>, <a href="#">Potatos</a>, <a href="#">Rolls</a>
        </p>

    </div>
    <!-- end of top-search div-->


    <!-- ============= CONTENT AREA STARTS HERE ============== -->
    <div id="content" class="clearfix homepage"><!-- SLIDER STARTS HERE -->
        <div id="slider" class="slider2">
            <!-- Start Most Rated -->

            <div class="most-rated">
                <span class="most-rated-title">Most Rated</span>
                <div class="item">
                    <a href="#" class="img-box"><img width="63" height="53" src="images/demo/Goat-Cheese-Chorizo-Rolls2-63x53.jpg" class="attachment-most-rated-thumb wp-post-image" alt="Goat-Cheese-Chorizo-Rolls2"/></a>
                    <h5><a href="#">Goat Cheese and Chorizo Rolls</a></h5>
                    <p>You know how bacon is...</p>
                    <p class="rate">
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="off"></span>
                    </p>
                </div>
            </div>
            <!-- End Most Rated -->

            <h2 class="slider-head"> <span>Top Recipes</span>of the day</h2>

            <!-- Top recipes statement -->
            <p class="slogan">Sliding recipes are much more tasty as food than sliding images. :D </p>

            <!-- Start of Slides -->
            <div class="slides right-slider">
                <ul class="cycle-slideshow" data-cycle-fx=scrollHorz data-cycle-timeout=4000 data-cycle-slides="li" data-cycle-pager=".cycle-pager">
                    <li>
                        <a href="#" class="img-box"><img width="515" height="262" src="images/demo/7a0a46455c4ec56a5a02c097374fc513-515x262.jpg" class="attachment-li-slider-thumb wp-post-image" alt="7a0a46455c4ec56a5a02c097374fc513"/></a>
                        <div class="slide-info">
                            <h2>
                                <a href="recipe-single-1.html">Chocolate Earl Grey Pots de Creme Recipe</a>
                            </h2>

                            <div class="rating">
                                <span class="on"></span>
                                <span class="on"></span>
                                <span class="on"></span>
                                <span class="on"></span>
                                <span class="off"></span>
                                <span>Average Rating:<span>(4.3 / 5)</span></span>
                            </div>
                            <p>
                                2 cups cream 120 grams dark chocolate, chopped 2 bags of earl grey tea 6 egg yolks 3
                                Tablespoons of sugar 1/2 cup whipping cream 2 Tablespoons powdered ...
                            </p>
                            <a href="recipe-single-1.html"
                               class="readmore">Read more</a>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="img-box"><img src="images/demo/Pesto-Pizza-with-Roasted-Garlic-Potato2-515x262.jpg" class="attachment-li-slider-thumb wp-post-image" alt="Pesto-Pizza-with-Roasted-Garlic-Potato2"/></a>
                        <div class="slide-info">
                            <h2>
                                <a href="recipe-single-1.html">Pesto Pizza With Roasted Garlic &#038; Potato</a></h2>
                            <div class="rating">
                                <span class="on"></span>
                                <span class="on"></span>
                                <span class="on"></span>
                                <span class="on"></span>
                                <span class="off"></span>
                                <span>Average Rating: <span>(4.1 / 5)</span></span>
                            </div>
                            <p>
                                Mention potatoes on pizza and you’ll get one of two responses. From the folks who’ve
                                tried it, you can expect an enthusiastic thumbs up. From everyonce else: a ...
                            </p>
                            <a href="recipe-single-1.html"  class="readmore">Read more</a>
                        </div>
                    </li>
                    <li>
                        <a href="recipe-single-1.html" class="img-box"><img src="images/demo/Pimento-Cheese-Potato-Skins-515x262.jpg" class="attachment-li-slider-thumb wp-post-image" alt="Pimento-Cheese-Potato-Skins"/></a>
                        <div class="slide-info">
                            <h2>
                                <a href="recipe-single-1.html">Pimento Cheese Potato Skins</a>
                            </h2>

                            <div class="rating">
                                <span class="on"></span>
                                <span class="on"></span>
                                <span class="on"></span>
                                <span class="on"></span>
                                <span class="off"></span>
                                <span>Average Rating: <span>(4.4 / 5)</span></span>
                            </div>
                            <p>If there’s anything better than the perfect baked potato, it would have to be a twice
                                baked potato. I’m sure everybody’s Mom, Grandma or next-door neighbor has a ...</p>
                            <a href="recipe-single-1.html" class="readmore">Read more</a>
                        </div>
                    </li>
                    <li>
                        <a href="recipe-single-1.html" class="img-box">
                            <img src="images/demo/Goat-Cheese-Chorizo-Rolls2-515x262.jpg" class="attachment-li-slider-thumb wp-post-image" alt="Goat-Cheese-Chorizo-Rolls2"/>
                        </a>
                        <div class="slide-info">
                            <h2>
                                <a href="recipe-single-1.html">Goat Cheese and Chorizo Rolls</a></h2>
                            <div class="rating">
                                <span class="on"></span>
                                <span class="on"></span>
                                <span class="on"></span>
                                <span class="on"></span>
                                <span class="off"></span>
                                <span>Average Rating: <span>(4.3 / 5)</span></span>
                            </div>
                            <p>You know how bacon is all the rage these days? Bacon dipped in chocolate, bacon
                                topped donuts, bacon beurre blanc and so and so. For me, it’s all ...
                            </p>
                            <a href="recipe-single-1.html" class="readmore">Read more</a>
                        </div>
                    </li>
                    <li>
                        <a href="recipe-single-1.html"
                           class="img-box">
                            <img src="images/demo/Grilled-Five-Spice-Chicken-515x262.jpg" class="attachment-li-slider-thumb wp-post-image" alt="Grilled-Five-Spice-Chicken"/>
                        </a>
                        <div class="slide-info">
                            <h2>
                                <a href="recipe-single-1.html">Vietnamese Style Grilled Five Spice Chicken</a></h2>
                            <div class="rating">
                                <span class="on"></span>
                                <span class="on"></span>
                                <span class="on"></span>
                                <span class="on"></span>
                                <span class="off"></span>
                                <span>Average Rating: <span>(4.4 / 5)</span></span>
                            </div>
                            <p>It may not be in my best interest to admit this, but here goes nothing: grilling
                                chicken scares me. It’s just too easy to get wrong. Black, cremated ...</p>
                            <a href="recipe-single-1.html" class="readmore">Read more</a>
                        </div>
                    </li>
                </ul>
                <div class="sliderNav">
                    <div class="cycle-pager"></div>
                </div>
            </div>
            <!-- end of slides -->

        </div>
        <!-- end of Slider div -->

        <!-- Home Page Whats Hot Recipe Area -->
        <div id="whats-hot">
            <h2 class="w-bot-border">What's <span>Hot</span></h2>
            <ul class="cat-list clearfix">
                <li>
                    <h3><a href="recipe-single-1.html">Chocolate</a></h3>
                    <a href="recipe-single-1.html" class="img-box">
                        <img src="images/demo/7a0a46455c4ec56a5a02c097374fc513-222x144.jpg" class="attachment-recipe-4column-thumb wp-post-image" alt="7a0a46455c4ec56a5a02c097374fc513"/>
                    </a>
                    <h4>
                        <a href="recipe-single-1.html"> Chocolate Earl Grey Pots... </a>
                    </h4>
                    <p>  2 cups cream 120 grams dark chocolate, chopped 2 bags of earl grey tea 6 <a  href="recipe-single-1.html">...more </a> </p>
                </li>
                <li>
                    <h3>  <a href="recipe-single-1.html">health </a> </h3>
                    <a href="recipe-single-1.html" class="img-box"> <img src="images/demo/single-recipe_2-222x144.jpg" class="attachment-recipe-4column-thumb wp-post-image" alt="single-recipe_2"/> </a>
                    <h4> <a href="recipe-single-1.html"> 10 Tips To Healthy... </a></h4>
                    <p>Eat a variety of nutrient-rich foods. You need more than 40 different nutrients for good health, <a href="recipe-single-1.html">...more </a></p>
                </li>
                <li>
                    <h3><a href="recipe-single-1.html">Rolls</a></h3>
                    <a href="recipe-single-1.html" class="img-box">
                        <img src="images/demo/Goat-Cheese-Chorizo-Rolls2-222x144.jpg" class="attachment-recipe-4column-thumb wp-post-image" alt="Goat-Cheese-Chorizo-Rolls2"/> </a>
                    <h4> <a href="recipe-single-1.html"> Goat Cheese and Chorizo... </a> </h4>
                    <p> You know how bacon is all the rage these days? Bacon dipped in chocolate, bacon <a href="recipe-single-1.html">...more </a></p>
                </li>
                <li>
                    <h3> <a href="recipe-single-1.html"> Economical </a> </h3>
                    <a href="recipe-single-1.html" class="img-box"> <img src="images/demo/accor_2-222x144.jpg" class="attachment-recipe-4column-thumb wp-post-image" alt="accor_2"/> </a>
                    <h4><a href="recipe-single-1.html"> baking question </a> </h4>
                    <p> Quis sed mid elit, risus aliquet placerat. Pid et, vel phasellus augue a ultrices, natoque <a href="recipe-single-1.html">...more </a></p>
                </li>
            </ul>
        </div>
        <!-- end of whats-hot div -->

        <span class="w-pet-border"></span>

        <div id="home-infos" class="clearfix">
            <div class="widget nostylewt Weekly_Special_Widget wk-special clearfix">
                <h2 class="w-bot-border"><span>Weekly</span> Special </h2>

                <div class="img-box for-all">
                    <a href="recipe-single-1.html">
                        <img src="images/demo/Grilled-Five-Spice-Chicken-122x132.jpg" class="attachment-weekly-special-thumb wp-post-image" alt="Grilled-Five-Spice-Chicken"/>
                    </a>
                </div>
                <div class="for-res">
                    <a href="recipe-single-1.html">
                        <img src="images/demo/Grilled-Five-Spice-Chicken-251x132.jpg" class="attachment-weekly-for-res wp-post-image" alt="Grilled-Five-Spice-Chicken"/>
                    </a>
                </div>
                <h4> <a href="recipe-single-1.html">Vietnamese Style Grilled Five Spice Chicken</a></h4>

                <p>It may not be in my best interest to admit this, but here goes nothing: grilling chicken scares  me. It’s just...
                    <a href="recipe-single-1.html"> more</a>
                </p>
                <a href="recipe-single-1.html" class="readmore">Read More</a>
            </div>
            <!-- end of weekly spcial widget -->
            <div class="widget fav-recipes nostylewt">
                <h2 class="w-bot-border"><span>MISC</span> Recipes</h2>

                <div class="tabed">
                    <ul class="tabs clearfix">
                        <li class="current">Recent<span></span></li>
                        <li>Popular<span></span></li>
                        <li>Random<span></span></li>
                    </ul>
                    <div class="block current">
                        <ul class="highest">
                            <li>
                                <a href="recipe-single-1.html" class="img-box"><img src="images/demo/7a0a46455c4ec56a5a02c097374fc513-63x53.jpg" class="attachment-sidebar-tabs wp-post-image" alt="7a0a46455c4ec56a5a02c097374fc513"/></a>
                                <h5> <a href="recipe-single-1.html">Chocolate Earl Grey Pots de Creme Recipe</a></h5>

                                <p class="rate">
                                    <span class="on"></span>
                                    <span class="on"></span>
                                    <span class="on"></span>
                                    <span class="on"></span>
                                    <span class="off"></span>
                                    (4.3 / 5)
                                </p>
                            </li>
                            <li>
                                <a href="recipe-single-1.html" class="img-box"><img src="images/demo/Pesto-Pizza-with-Roasted-Garlic-Potato2-63x53.jpg" class="attachment-sidebar-tabs wp-post-image" alt="Pesto-Pizza-with-Roasted-Garlic-Potato2"/></a>
                                <h5> <a href="recipe-single-1.html">Pesto Pizza With Roasted Garlic &#038; Potato</a></h5>

                                <p class="rate">
                                    <span class="on"></span>
                                    <span class="on"></span>
                                    <span class="on"></span>
                                    <span class="on"></span>
                                    <span class="off"></span>
                                    (4.1 / 5)
                                </p>
                            </li>
                            <li>
                                <a href="recipe-single-1.html" class="img-box"><img src="images/demo/Pimento-Cheese-Potato-Skins-63x53.jpg" class="attachment-sidebar-tabs wp-post-image" alt="Pimento-Cheese-Potato-Skins"/></a>
                                <h5>
                                    <a href="recipe-single-1.html">Pimento Cheese Potato Skins</a></h5>

                                <p class="rate">
                                    <span class="on"></span>
                                    <span class="on"></span>
                                    <span class="on"></span>
                                    <span class="on"></span>
                                    <span class="off"></span>
                                    (4.4 / 5)
                                </p>
                            </li>
                        </ul>
                    </div>
                    <!-- end of block div -->
                    <div class="block">
                        <ul class="highest">
                            <li>
                                <a href="recipe-single-1.html" class="img-box">
                                    <img src="images/demo/Goat-Cheese-Chorizo-Rolls2-63x53.jpg" class="attachment-sidebar-tabs wp-post-image" alt="Goat-Cheese-Chorizo-Rolls2"/>
                                </a>
                                <h5> <a href="recipe-single-1.html">Goat Cheese and Chorizo Rolls</a></h5>

                                <p class="rate">
                                    <span class="on"></span>
                                    <span class="on"></span>
                                    <span class="on"></span>
                                    <span class="on"></span>
                                    <span class="off"></span>
                                    (4.3 / 5)
                                </p>
                            </li>
                            <li>
                                <a href="recipe-single-1.html" class="img-box">
                                    <img src="images/demo/Pimento-Cheese-Potato-Skins-63x53.jpg" class="attachment-sidebar-tabs wp-post-image" alt="Pimento-Cheese-Potato-Skins"/>
                                </a>
                                <h5> <a href="recipe-single-1.html">Pimento Cheese Potato Skins</a></h5>

                                <p class="rate"> <span class="on"></span>
                                    <span class="on"></span>
                                    <span class="on"></span>
                                    <span class="on"></span>
                                    <span class="off"></span>
                                    (4.4 / 5)
                                </p>
                            </li>
                            <li>
                                <a href="recipe-single-1.html" class="img-box">
                                    <img src="images/demo/Warm-Marinated-Flank-Steak-Salad-1-63x53.jpg" class="attachment-sidebar-tabs wp-post-image" alt="Warm-Marinated-Flank-Steak-Salad-1"/>
                                </a>
                                <h5> <a href="recipe-single-1.html">Warm Flank Steak Salad With Mint And Cilantro</a></h5>

                                <p class="rate">
                                    <span class="on"></span>
                                    <span class="on"></span>
                                    <span class="on"></span>
                                    <span class="on"></span>
                                    <span class="off"></span>
                                    ( 4.2 / 5)
                                </p>
                            </li>
                        </ul>
                    </div>
                    <!-- end of block div -->
                    <div class="block">
                        <ul class="highest">
                            <li>
                                <a href="recipe-single-1.html" class="img-box"><img src="images/demo/Goat-Cheese-Chorizo-Rolls2-63x53.jpg" class="attachment-sidebar-tabs wp-post-image" alt="Goat-Cheese-Chorizo-Rolls2"/></a>
                                <h5> <a href="recipe-single-1.html">Goat Cheese and Chorizo Rolls</a></h5>

                                <p class="rate">
                                    <span class="on"></span>
                                    <span class="on"></span>
                                    <span class="on"></span>
                                    <span class="on"></span>
                                    <span class="off"></span>
                                    (4.3 / 5)
                                </p>
                            </li>
                            <li>
                                <a href="recipe-single-1.html"  class="img-box"><img src="images/demo/Jalapeno-Poppers-63x53.jpg" class="attachment-sidebar-tabs wp-post-image" alt="Jalapeño-Poppers"/></a>
                                <h5><a href="http://www.960demo.com/foodrecipes-dev/recipe/jalapeno-poppers/">Jalapeno Poppers</a></h5>

                                <p class="rate">
                                    <span class="on"></span>
                                    <span class="on"></span>
                                    <span class="on"></span>
                                    <span class="on"></span>
                                    <span class="off"></span>
                                    (4.4 / 5)
                                </p>
                            </li>
                            <li>
                                <a href="recipe-single-1.html" class="img-box"><img src="images/demo/7a0a46455c4ec56a5a02c097374fc513-63x53.jpg" class="attachment-sidebar-tabs wp-post-image" alt="7a0a46455c4ec56a5a02c097374fc513"/></a>
                                <h5> <a href="recipe-single-1.html">Chocolate Earl Grey Pots de Creme Recipe</a></h5>

                                <p class="rate">
                                    <span class="on"></span>
                                    <span class="on"></span>
                                    <span class="on"></span>
                                    <span  class="on"></span>
                                    <span class="off"></span>
                                    (4.3 / 5)
                                </p>
                            </li>
                        </ul>
                    </div>
                    <!-- end of block div -->
                    <div class="bot-border"></div>
                </div>
                <!-- end of tabed div -->
            </div>
            <!-- end of fav-recipes widget -->
            <div class="widget newsEvent nostylewt">
                <h2 class="w-bot-border">
                    <span>News</span> and Events</h2>
                <ul class="list">
                    <li>
                        <h5><a href="single.html">Best Bread pairing for Barbeque?</a></h5>
                        <p>Welcome to WordPress. This is your first post. Edit or delete it,...<a href="single.html">more</a></p>
                    </li>
                    <li>
                        <h5> <a href="single.html">Best Bread pairing for Barbeque?</a></h5>
                        <p>Quis sed mid elit, risus aliquet placerat. Pid et, vel phasellus augue...<a href="single.html">more</a> </p>
                    </li>
                </ul>
            </div>
            <!-- end of fav-recipes widget -->
            <div class="ads-642x79">
                <a href="#"><img src="images/ad-652x95.png" alt="Recipe Ads"/></a>
            </div>
        </div>
        <!-- end of home-infos div -->

    </div>
    <!-- end of content div -->
    <div class="bot-ads-area">

    </div>
    <!-- CONTENT ENDS HERE -->
</div>