
    <div class="d-flex flex-column">
        <h4 class="mb-1 text-dark">Geçersiz Link</h4>
        <span>Bu şifre yenileme linki geçersizdir. Lütfen tekrar yenileme talep maili gönderiniz.</span>
    </div>
