
<style>
    #container{
        padding-top: 30px;
    }
    #save-loader{
        display: none;
    }
</style>

<div id="container" class="container">

    <!-- ============= CONTENT AREA STARTS HERE ============== -->
    <div id="content" class="clearfix ">
        <div class="row recipe-listing-row">
            <div id="left-area" class="clearfix col-md-12 full-wide">
                <div class="post-366 page type-page status-publish hentry clearfix" id="page-366">
                    <h1 class="post-title">Şifre Yenileme</h1>
                </div><!-- end of post div -->


                <form id="password_reset_form" class="food-form" name="recipe-form" action="/sifre-yenileme" method="post">

                    <input type="hidden" id="uuid_input" name="uuid" value="<%= uuid %>" />
                    
                    <fieldset name="recipe-title" class="recipe-title">
                        <label for="password">Yeni Şifre</label>
                        <input type="text" id="password" value="" tabindex="15" name="password" data-msg-required="Please enter recipe title" data-rule-required="true" aria-required="true"/>
                    </fieldset>
                    
                    <fieldset name="recipe-title" class="recipe-title">
                        <label for="password2">Yeni Şifre (Tekrar)</label>
                        <input type="text" id="password2" value="" tabindex="15" name="password2" data-msg-required="Please enter recipe title" data-rule-required="true" aria-required="true"/>
                    </fieldset>
                    <p>
						<input id="save-submit" class="submit_button readmore" type="submit" value="Kaydet" name="submit">
						<img id="save-loader"
								src="https://foodrecipes.inspirythemes.com/bootstrap/wp-content/themes/inspirythemes-food-recipes/images/loading.gif"
								alt="Loader"/>
						<span id="alert_content"></span>
					</p>

                </form>

            </div>
        </div>
    </div>
</div>


<script src="../../assets/global/plugins/jquery-form/jquery.form.js"></script>

<script>

    $('#password_reset_form').ajaxForm({
        beforeSubmit: function (arr) {
            $("#save-loader").css("display","inline-block")
        
            if ($('#password').val() == "") {
                $("#alert_content").text("Lütfen şifre giriniz.");
                $('#password').focus();
                $("#save-loader").css("display","none")
                return false;
            }
            if ($('#password2').val() == "") {
                $("#alert_content").text("Lütfen şifre tekrarı giriniz.");
                $('#password2').focus();
                $("#save-loader").css("display","none")
                return false;
            }
            if($('#password').val() != $('#password2').val()){
                $("#alert_content").text("Şifreler uyuşmuyor, lütfen tekrar giriniz.");
                $('#password2').focus();
                $("#save-loader").css("display","none")
                return false;
            }
        },
        beforeSend: function (e) {
        },
        complete: function (result) {
            console.log(result.responseJSON)

            if (result.responseJSON.isSuccess) {
                
                $("#alert_content").css("color", "green").text(result.responseJSON.message)

                setTimeout(function(){
                    window.location.href = "/giris"
                }, 700)

            }else {
                $("#alert_content").text(result.responseJSON.message)
            }
            $("#save-loader").css("display","none")
        }
    });
    
</script>
