<div id="container" class="container">

    <!-- WEBSITE SEARCH STARTS HERE -->

    <div class="top-search  clearfix">
        <h3 class="head-pet"><span>Recipe Search</span></h3>

        <form action="#" id="searchform">
            <p>
                <input type="text" name="s" id="s" class="field" value="" placeholder="Search for"/>
                <input type="submit" name="s_submit" id="s-submit" value=""/>
            </p>
        </form>

        <p class="statement"><span class="fireRed">Recipe Types:</span>
            <a href="#">Beef</a> , <a href="#">Cheese</a> , <a href="#">Chicken</a> , <a href="#">Chocolate</a> , <a href="#">Fish</a> , <a href="#">Pizzas</a>, <a href="#">Potatos</a>, <a href="#">Rolls</a>
        </p>

    </div>
    <!-- end of top-search div-->


    <!-- ============= CONTENT AREA STARTS HERE ============== -->
    <div id="content" class="clearfix ">
        <div class="row recipe-listing-row">
            <div id="left-area" class="clearfix col-md-12 full-wide">
                <div class="post-366 page type-page status-publish hentry clearfix" id="page-366">
                    <h1 class="post-title">Tarif Ekle</h1>
                </div><!-- end of post div -->


                <form id="recipe-form" name="recipe-form" action="#" method="post" enctype="multipart/form-data">

                    <fieldset name="recipe-title" class="recipe-title">
                        <label for="password">Yeni Şifre</label>
                        <input type="text" id="password" value="" tabindex="15" name="password" data-msg-required="Please enter recipe title" data-rule-required="true" aria-required="true"/>
                    </fieldset>
                    
                    <fieldset name="recipe-title" class="recipe-title">
                        <label for="password2">Yeni Şifre (Tekrar)</label>
                        <input type="text" id="password2" value="" tabindex="15" name="password2" data-msg-required="Please enter recipe title" data-rule-required="true" aria-required="true"/>
                    </fieldset>
                    <p>
						<input id="save-submit" class="submit_button readmore" type="submit" value="Kaydet" name="submit">
						<img id="save-loader"
								src="https://foodrecipes.inspirythemes.com/bootstrap/wp-content/themes/inspirythemes-food-recipes/images/loading.gif"
								alt="Loader"/>
						<span id="alert_content"></span>
					</p>

                </form>

            </div>
        </div>
    </div>
</div>


<script src="../../assets/global/plugins/jquery-form/jquery.form.js"></script>

<script>

    $('#user_update_form').ajaxForm({
        beforeSubmit: function (arr) {
            $("#save-loader").css("display","inline-block")
        
            if ($('#password').val() == "") {
                toastr.warning("Şifre giriniz");
                $('#password').focus();
                //global.hideLoader()
                return false;
            }
            if ($('#password2').val() == "") {
                toastr.warning("Şifre Tekrarı giriniz");
                $('#password2').focus();
                //global.hideLoader()
                return false;
            }
            if($('#password').val() != $('#password2').val()){
                toastr.warning("Şifreleri aynı giriniz");
                $('#password2').focus();
                //global.hideLoader()
                return false;
            }
            
        },
        beforeSend: function (e) {
        },
        complete: function (result) {
            console.log(result.responseJSON)

            if (result.responseJSON.isSuccess) {
                
                $("#alert_content").css("color", "green").text(result.responseJSON.message)

                setTimeout(function(){
                    window.location.href = "/"
                }, 700)

            }else {
                $("#alert_content").text(result.responseJSON.message)
            }
            $("#save-loader").css("display","none")
        }
    });
    
</script>
